<!--The content below is only a placeholder and can be replaced.-->
<div class="no-event">
  <v-chart [height]="height" [width]="width" [data]="data" [forceFit]="true">
    <v-tooltip [showTitle]="false"></v-tooltip>
    <v-point position="x*y" shape="circle" tooltip="name" [size]="size" [color]="color" [style]="style" [label]="label">
    </v-point>
  </v-chart>
</div>

<!-- Gráfico 2 -->
<!-- <div>
  <v-chart [forceFit]="forceFit" [height]="height" [padding]="padding">
    <v-coord type="polar"></v-coord>
    <v-view [data]="edgeSource">
      <v-edge position="x*y" shape="smooth" color="grey" [opacity]="0.5" tooltip="source*target"></v-edge>
    </v-view>
    <v-view [data]="nodeSource">
      <v-point position="x*y" color="hasChildren" [label]="label"></v-point>
    </v-view>
  </v-chart>
</div> -->
<router-outlet></router-outlet>
